<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EventfulEase</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'search_pandit_ji', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">EventfulEase</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="home.html">Home</a></li>
          <li><a class="nav-link scrollto" href="home.html#about">About</a></li>
          <li class="dropdown"><a href="home.html#services"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="family_occasions.html">Family Occasions Decoration</a></li>
              <li><a href="social_events.html">Socail Events Decoration</a></li>
              <li><a href="destination_wedding.html">Destination Wedding Decoration</a></li>
              <li><a href="pandit_ji.html">Book Pandit Ji</a></li>
              <li><a href="available_astrologer.html">Connect With Astrologer</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="user_profile.html">Profile</a></li>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

    <section>
      <div class="footer-top">

        <div class="container">
  
          <div class="row  justify-content-center">
            <div class="col-lg-6">
              <h3>Search Pandit Ji</h3>
              <p>Get the Best Pandit Ji for your Pooja</p>
            </div>
          </div>
  
          <div class="row footer-newsletter justify-content-center">
            <div class="col-lg-6 search-pandit-box">
              
                <input type="text" name="text" placeholder="Search for Pooja or Pandit Ji">
                <input type="submit" value="Search">
              
            </div>
          </div>
  
        </div>
      </div>
    </section>

    
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Suggested</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              
              <h4><a href="">Pandit Rajesh Sharma</a></h4>
              <p>With over 15 years of experience in Vedic rituals and ceremonies, Pandit Rajesh Sharma brings a wealth of knowledge and devotion to every pooja he conducts.</p>
              <a href="#about" class="btn-get-started scrollto">$500</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
             
              <h4><a href="">Pandit Arjun Mishra</a></h4>
              <p>A highly respected Pandit with a deep understanding of Hindu scriptures, Pandit Arjun Mishra is renowned for his impeccable conduct of religious ceremonies.</p>
              <a href="#about" class="btn-get-started scrollto">$500</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              
              <h4><a href="">Pandit Suresh Vyas</a></h4>
              <p>With a blend of traditional wisdom and modern insight, Pandit Suresh Vyas offers personalized and meaningful rituals tailored to each individual's spiritual journey.</p>
              <a href="#about" class="btn-get-started scrollto">$500</a>
            </div>
          </div>

      </div>
     
    </section><!-- End Services Section -->


  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container-footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Akrity</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <p>Made By <a href="https://bootstrapmade.com/">Akrity</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>



</html>