/*--------------------------------------------------------------
  # Profie Page
  --------------------------------------------------------------*/

  .section{
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 40px 40px;
  }

  .section h2{
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #16df7e;
  }

  .profile .profile-card img {
    max-width: 120px;
  }
  
  .profile .profile-card h2 {
    font-size: 24px;
    font-weight: 700;
    color: #16df7e;
    margin: 10px 0 0 0;
  }
  
  .profile .profile-card h3 {
    font-size: 18px;
  }
  
  .profile .profile-card .social-links a {
    font-size: 20px;
    display: inline-block;
    color: #16df7e;
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .profile .profile-card .social-links a:hover {
    color:#16df7e;
  } 
  
  .profile .profile-overview .row {
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .profile .profile-overview .card-title {
    color: #16df7e;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .profile .profile-overview .label {
    font-weight: 600;
    color: #16df7e;
  }
  
  .profile .profile-edit label {
    font-weight: 600;
    color: #16df7e;
  }
  
  .profile .profile-edit img {
    max-width: 120px;
  }
  

  .row .icon-box {
    text-align: center;
    border: 1px solid #fff;
    padding: 40px 40px;
    transition: all ease-in-out 0.3s;
    background: #fff;
  }
  
  .row .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .row .icon-box h4 a {
    color: #5f687b;
    transition: ease-in-out 0.3s;
  }
  
  
  .row .icon-box:hover {
    border-color: #eaecef;
  }
  
  .row .icon-box:hover h4 a {
    color: #16df7e;
  }

